.customPagination {
	display: flex;
	justify-content: center;
	gap: 0.4rem;
	width: 100%;
}

.customPaginationDot {
	width: 10px;
	height: 10px;
	border-radius: 1rem;
	background-color: #b9babb;
	cursor: pointer;
	transition: all 0.5s;
}

.customPaginationDot.customPaginationActive {
	width: 1.5rem;
	background-color: #343536;
}
