.blurContainer {
	pointer-events: none;
	position: absolute;
	right: 1rem;
	top: 15vh;
	z-index: -10;
	height: 100%;
	width: 100%;
}

.blob {
	position: absolute;
	height: 50rem;
	max-height: 800px;
	width: 50rem;
	max-width: 900px;
	border-radius: 50%;
	opacity: 0.6;
	mix-blend-mode: multiply;
	filter: blur(5rem);
}

.blob1 {
	background-color: rgba(167, 139, 250, 0.6);
	animation: blob-animation 2s infinite;
	right: 5rem;
	top: 0;
}

.blob2 {
	background-color: rgba(253, 224, 71, 0.5);
	animation: blob-animation 2s infinite 2s;
	top: -20rem;
	right: 0;
}

.blob3 {
	background-color: rgba(251, 113, 133, 0.5);
	animation: blob-animation 12s infinite 4s;
	bottom: 60;
	right: 0;
}


@keyframes blob-animation {
	0% {
		transform: "translate(0px, 0px) scale(1)";
	}
	33% {
		transform: "translate(125px, -120px) scale(1.2)";
	}
	66% {
		transform: "translate(-90px, 70px) scale(0.8)";
	}
	100% {
		transform: "translate(0px, 0px) scale(1)";
	}
}

@media screen and (max-width: 1300px) {
	.blob {
		height: 30rem;
		width: 30rem;
	}
}


@media screen and (max-width: 800px) {
	.blob {
		height: 20rem;
		width: 20rem;
	}
}



