@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .bg-light {
    box-shadow: 0 0 0px 1000px #fff inset;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    -moz-box-shadow: 0 0 0px 1000px #fff inset;
    -webkit-text-fill-color: black;
    caret-color: black;
  }

  .bg-dark {
    --tw-bg-opacity: 1;
    --tw-dark-bg-color: rgb(15 23 42 / var(--tw-bg-opacity));
    box-shadow: 0 0 0px 1000px var(--tw-dark-bg-color) inset;
    -webkit-box-shadow: 0 0 0px 1000px var(--tw-dark-bg-color) inset;
    -moz-box-shadow: 0 0 0px 1000px var(--tw-dark-bg-color) inset;
    -webkit-text-fill-color: white;
    caret-color: white;
  }

  .bg-dark::placeholder {
    -webkit-text-fill-color: rgb(107 114 128 / 1);
  }

  .bg-light::placeholder {
    -webkit-text-fill-color: rgb(174, 177, 185);
  }

  .custom-height {
    height: calc(100% - 5.5rem);
  }
}
