
.button {
  background: #0077ff;
  padding: .625rem 1.25rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  gap: .5rem;
  height: 2.5rem;
  user-select: none;
}

.button:hover {
  background: #015fca;
}
