.errorScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 4rem);
  width: 100vw;
}

.errorCard {
  width: 900px;
  max-width: 90%;
  height: 100px;
  min-height: 500px;
  background: #1d1d1d;
  padding: 1.875rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 100%;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
}

.appTitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.errorDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.errorIcon {
  color: #DB4437;
  font-weight: bold;
  font-size: 4rem;
}

.errorMessage {
  font-weight: bold;
  font-size: 1.5rem;
}

.descriptionContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.errorDescription {
  font-size: 1.25rem;
  color: #c4c5c5;
  text-align: center;
  margin-bottom: 2rem;
}

.actionIcon {
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .errorCard {
    background: #121212;
    max-width: 95%;
    padding: 0.5rem;
  }

  .errorMessage {
    font-size: 1rem;
  }

  .descriptionContainer {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .appTitle {
    font-size: 1rem;
  }
}
